@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    background-image: linear-gradient( 
    rgba(46, 47, 66, 0.07), 
    rgba(46, 47, 66, 0.07)),
    url("../img/bg-image.png");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-color: #c2c5fabd;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;   
  padding: 0 16px;
  height: 100%;
}

.container::after {
  content: "";
  display: block;
  height: 10px; 
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 500px;
  }
}

h2 {
  color: #ffffff;
  text-shadow:
    -1px  0px 0 #32070721,
     0px -1px 0 #32070721,
    -1px  0px 0 #32070721,
     0px  1px 0 #32070721;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  align-items: start;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  border: 2px solid #8ba1f0b0;
  border-radius: 10px;
  padding: 10px 10px;
  padding-bottom: 30px;
  align-items: center;
  background-color: rgba(240, 255, 255, 0.674);
  background-image: linear-gradient( 
    rgba(46, 47, 66, 0.2), 
    rgba(46, 47, 66, 0.2));
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

form:hover,
.tasks-list-div:hover {
  background-color: rgba(240, 255, 255, 0.674); 
  background-image: linear-gradient( 
    rgba(46, 47, 66, 0.17), 
    rgba(46, 47, 66, 0.17))
}


.svg-btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #320707a1;
  background: #ffffffda;
  cursor: pointer;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.right-btn {
  position: absolute;
  top: 30px;
  right: 20px;
}

.svg-btn:hover {
    border: 2px solid #6c8cff;
}

.left-btn {
  position: absolute;
  top: 30px;
  left: 20px;
}


.form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.add-task-input {
    width: 100%;
    border: 1px solid #320707a1;;
    border-radius: 8px;
    padding: 8px 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:  #2e2f42;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffffda;
    
}
.add-task-input:hover,
.add-task-input:focus {
  border-color: #6c8cff;
}


.tasks-btn {
    align-self: center;
    margin-top: 8px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    background-color: #3863feb9;
    color: #FFFFFF;
}

.tasks-btn:hover,
.tasks-btn:focus {
    background-color: #6c8cff;
}

.tasks-list-div {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  align-items: start;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  margin-bottom: 50px;
  border: 2px solid #8ba1f0b0;
  border-radius: 10px;
  padding: 10px 10px;
  padding-bottom: 30px;
  align-items: center;
  min-height: 320px;
  background-color: rgba(240, 255, 255, 0.674);
  background-image: linear-gradient( 
    rgba(46, 47, 66, 0.2), 
    rgba(46, 47, 66, 0.2));
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.tasks-list li {
    border: 1px solid #320707a1;;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffffda;
    text-align: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.05);
}

.tasks-list li:hover,
.tasks-list li:focus {
    border-color: #6c8cff;
}